# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directories
.venv

# Poetry
/poetry.toml

# Poetry files
poetry.lock

# Unit test / coverage reports
.coverage
.pytest_cache

# Editor and IDE files
.idea/
.vscode/
*.swp

# Ignore environment files
.env

# Data statements
.csv